body {
  background-image: url("Sunset.png");
  background-repeat: repeat-x
  background-position: left;
}


p {
    font-family: "Copperplate", Times, fantasy;
    color: white
    
        

    
}
